.admin-header{
  width: 100%;  
  padding: 0 6px; 
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row); 
  border:solid 1px transparent;
  
}  

  

  .admi-header-titulo{
    font-size: 16px;
    color: $Color-texto-gris-Mercadolibre;
    margin-left: 5px; 
  }