.admin-columna-contenedor{
  width: 200px;
  padding: 5px 6px;
  border: solid 1px transparent;
  border-right-color: $Color-Gris-Claro;
  border-radius: 4px;
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column); 
  background-color: $color-grey3;
}

.admin-header-logo{
    height: 45px;
    
    margin:25px 3px;
    border-radius: 8px;
  }

  .admin-columna-ul{
     width: 100%;
     margin-top: 40px;
  }

   .admin-columna-li{
    width: 100%;
    padding:5px;
    font: arial;
    font-size: 14px;
    color: $Color-texto-gris-Mercadolibre ;
    margin-top: 2px;
    text-decoration: none;
    list-style: none;    
   }



   .admin-columna-li:hover{
    background-color:$Color-Gris-Claro ;
   }


      .admin-boton-registrar{
        padding: 8px;
        background-color:$Color-Azul-Wm;
        font-size: 18px;
        color: white;
        border-radius: 5px;
      }


    

