.admin-contiene-columna-y-content{  
  width: 100%;
  @include flexbox;
  @include align-items(flex-start);
  @include flex-direction(row);
  @include justify-content(space-between);
  margin: 0 auto;
  position:absolute;
  top: 0;
  left: 0;
 
}

  .admin-contiene-content{
    width: 80%;    
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    padding:4px;
    border-radius: 4px;       
    margin: 4px auto;
    margin-left: 215px;
  }


  .admin-contnedor-navegacion-miga{
    width: 100%;
    padding:6px 2px;
    border-bottom: solid 1px $Color-Gris-Claro;
    font-size: 14px;
    margin-bottom:12px;
  }
    .spam-separador{
      margin: 0 2px;
      

    }