.footer-p-destacado{
  letter-spacing: 8px;
}
.footer-p-izquierda{
  color:$color-grey1;
  text-align:right;
  padding-right: 20px;
  vertical-align: middle;
}
.footer-p-derecha{
  color:$color-grey1;
  text-align:left;
  padding-left: 20px;
}

@media (max-width: 991px){
.footer-p-izquierda,
.footer-p-derecha {
  text-align:center;
  padding-right: 0;
  padding-left: 0;
}
.footer-col-derecha{
  border-top:1px solid $color-grey2;
  padding-top:20px;
}}
@media (min-width: 992px){
.footer-col-derecha{
  border-left:2px solid $color-grey2;
  padding-top:0;
}}

.bg-footer{
background-color: $color-grey3;
}