

.section-wrapper{
padding-top:40px;
padding-bottom:40px;
overflow:hidden;
}

.bg-footer{
background-color: $color-grey3;
}

/*---RESET STYLE: para resetear los inherit styles
del browser (si es que los tiene)---*/
*{
  margin:0;
  padding:0;
  border:0;}

/*---acá ponemos la altura de la Navbar---*/
  body{
  	padding-top:100px;
  }