/* G L O B A L   T E X T */
p {
  color:$color-grey1;
  text-align:justify;
  white-space: pre-wrap;
}
h1 { /*para título único por página*/
color:$color-grey1;
}
h2 { /*para títulos de las dif. secciones de cada página*/
color:$color-grey1;
}
h3 { /*para títulos de cada bloque de párrafo*/
color:$color-grey2;
}
h4 { /*para párrafos cortos de alta relevancia*/
color:$color-grey2;
}
h5 { /*para items o nombres puntuales que no son textos largos*/
color:$color-grey1;
}

p, h1, h2, h3, h4, h5 {
	text-decoration: none;
  	cursor:default;
}
.page-header > h1 {
  font-family:Pioret;
  font-size:60px;
}
.home-title-welcome{ /*solo para V&V, borrar para otros*/
  margin-top:0px;
  font-family:Pioret;
  font-size:60px;
}
@media (max-width:767px){
	p{font-size:12px;}
	h1{font-size:28px;}
	h2{font-size:24px;}
	h3{font-size:18px;}
	h4{font-size:14px;}
	h5{font-size:12px;}
	.page-header > h1 {font-size:36px;}
	.home-title-welcome{font-size:36px;} /*solo para V&V, borrar para otros*/
}



a p, a h1, a h2, a h3, a h4, a h5 {
	text-decoration: none;
  	cursor:pointer;
}

textarea{
  word-break: break-all;
}

a>p:hover{
	color:$color-3;
}

label{color:$color-black;}