/* G L O B A L   T E X T */
p {
  color:$color-grey1;
  text-decoration: none;
  cursor:default;
  text-align:justify;
  white-space: pre-wrap;
}
h1 { /*para título único por página*/
color:$color-grey1;
}
h2 { /*para títulos de las dif. secciones de cada página*/
color:$color-grey1;
}
h3 { /*para títulos de cada bloque de párrafo*/
color:$color-grey2;
}
h4 { /*para párrafos cortos de alta relevancia*/
color:$color-grey2;
}
h5 { /*para items o nombres puntuales que no son textos largos*/
color:$color-grey1;
}



textarea{
  word-break: break-all;
}

a>p:hover{
	color:$color-3;
}