/* W R A P P E R S */

/*este código habría que adentro de cada sección
tener en cuenta que los elementos de 100%width como la navbar tienen 
que ir por fuera de este div*/


.content-wrapper {
margin: 0 auto;
padding-bottom: 50px;
width: 80%;
max-width: 978px;
}

/*este engloba absolutamente todo el body, por ahora sin reglas*/
.global-wrapper {
display:block;
}