.contenedor-admin-entidad{
  padding:6px;
  border-radius: 4px;
  width: 100%;
  @include flexbox;
  @include align-items(flex-start);
  @include flex-direction(column);  
}

 .contenedor-admin-entidad-titulo-form-busqueda{
    width: 100%;
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(space-between);
    padding: 5px 2px;
    border-bottom: solid 1px $Color-Gris-Claro;

 }

  .contenedor-img-titulo{
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row);
    padding: 3px 0px;
  }

   .admin-entidad-img{
    height: 80px;
    border-radius:4px;
    margin-right: 4px;
   }

   .admin-entidad-titulo{
    font-size: 24px;
    margin-left: 5px;
    
   }

   .admin-entidad-contenedor-imagenes-y-form{
     @include flexbox;
     @include align-items(center);
     @include flex-direction(row);
     width: 100%;
     @include justify-content(flex-start);
     @include flex-wrap(wrap);
     padding:2px;
     border: solid 1px $Color-Gris-Claro-Para-Bordes;

   }

     .admin-entidad-contenedor-imagenes-form-form{
      @include flexbox;
      @include align-items(center);
      @include flex-direction(row);
      margin-left:15px;
      padding:3px;
      border-radius:4px;
      background-color:$Color-Gris-Claro;
     }

     .admin-entidad-proyecto-img-adicionales-contenedor{
        position: relative;
     }

     .admin-entidad-proyecto-img-adicionales-contenedor{
        border-color: $Color-Gris-Claro-Para-Bordes;
     }

        .admin-entidad-proyecto-img-adicionales{
          height: 50px;
          padding: 8px;
          border: solid 1px $Color-Gris-Claro;
          margin-right: 4px;
        }


        .icono-eleminar-imagen{
          position: absolute;
          right: 3px;
          top: 3px;
          padding:5px;
          border-radius:2px;
        }
        .icono-eleminar-imagen:hover{
          background-color: $Color-Errors-BG;
          border-color: $Color-Rojo-Texto-Error;
        }

      .admin-entidad-contenedor-imagenes-form-field{
        font-size: 10px;
        margin: 0 5px;
      }



         .boton-subir-img{
          @include Boton-Chico($color-3);
          margin: 0 ;
         }

         .boton-subir-img:hover{
          background-color:$Color-Verde-Claro ;
         }

   .admin-entidad-buscador-contenedor{
     @include flexbox;
     @include align-items(center);
     @include flex-direction(row); 
   }
   .admin-contiene-entidades-y-pagination{
      width: 100%;
      @include flexbox;
      @include align-items(center);
      @include flex-direction(column);
   }


     .admin-entidad-contenedor-entidades{
      width: 100%;
      @include flexbox;
      @include align-items(center);
      @include flex-direction(row);
      @include justify-content(space-around);
      @include flex-wrap(wrap);
      padding: 4px;
     }