@import "resources/assets/sass/Helpers/Plug-flex";
@import "resources/assets/sass/Helpers/Colores";
//@import "resources/assets/sass/Helpers/mediCueris";
@import "resources/assets/sass/Helpers/fonts";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "resources/assets/sass/Helpers/recet";
//@import "resources/assets/sass/Helpers/scroll";
@import "resources/assets/sass/Helpers/animate";


//@import "resources/assets/sass/Helpers/Plug-progresbar";
@import "resources/assets/sass/Helpers/Plug-Guardiastyle.scss";
@import "resources/assets/sass/Helpers/Plug-chosen";
@import "resources/assets/sass/Helpers/Plug-Tootlipster-hoverJquery";
@import "resources/assets/sass/Helpers/fonts-iconos";
@import "resources/assets/sass/Helpers/Plug-ImageSelect";
@import "resources/assets/sass/Helpers/notyCarrito";
@import "resources/assets/sass/Helpers/clasesWarning";
@import "resources/assets/sass/Helpers/clasesHelpers";
@import "resources/assets/sass/Helpers/Plug-ratingsPlug";
@import "resources/assets/sass/Helpers/Plug-VentanasModals";
@import "resources/assets/sass/Helpers/Plug-EasyAutoComplete";
@import "resources/assets/sass/Helpers/Plug-EasyAutoComplete";
@import "resources/assets/sass/Helpers/Plug-textAreas";
@import "resources/assets/sass/Helpers/Botones";
@import "resources/assets/sass/Helpers/Plug-bxSlider";
//@import "resources/assets/sass/Helpers/Wrappers";
@import "resources/assets/sass/Helpers/GlobalText";
//@import "resources/assets/sass/Helpers/font-amazing";
@import "resources/assets/sass/Helpers/ClasesParaCartelitosHover";


//Layout_Admin
@import "resources/assets/sass/Partes/Layout_Admin/Home/header";
@import "resources/assets/sass/Partes/Layout_Admin/admin_layout_general";
@import "resources/assets/sass/Partes/Layout_Admin/Columna/columna";
@import "resources/assets/sass/Partes/Layout_Admin/Home_Entidades/Empresa";
@import "resources/assets/sass/Partes/Layout_Admin/Home_Entidades/principal";
@import "resources/assets/sass/Partes/Layout_Admin/Home_Entidades/Users";
@import "resources/assets/sass/Partes/Layout_Admin/Home_Entidades/marcas";
@import "resources/assets/sass/Partes/Layout_Admin/formularios/formulario_estilos";
@import "resources/assets/sass/Partes/Layout_Admin/Home_Entidades/home";


//Layout_User
@import "resources/assets/sass/Partes/Layout_User/layout_user_general";
@import "resources/assets/sass/Partes/Layout_User/navbar/navbar-general";
@import "resources/assets/sass/Partes/Layout_User/footer/footer-general";
@import "resources/assets/sass/Partes/Layout_User/navbar/inicio-de-sesion-navbar";


//home
@import "resources/assets/sass/Partes/Home/home_general";


//Auth
@import "resources/assets/sass/Partes/Auth/Auth_General";


//Errores
@import "resources/assets/sass/Partes/Errores/Errores";
@import "resources/assets/sass/Partes/Errores/404";

//Avisos
@import "resources/assets/sass/Partes/Avisos/aviso_Verifica_Email";
@import "resources/assets/sass/Partes/Avisos/alert_status";