.home-header{
}




/*carrusel*/
.img-carousel{
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.carousel-caption>h3{
    color:$color-white;
    }
.carousel-caption>p{
    color:$color-white;
    text-align:center;
    }





/*título principal de Bienvenida*/
.section-wrapper-welcome{
  padding-top:40px;
}
.home-title-welcome{
  font-family:Pioret;
  font-size:60px;
}
.home-box{
text-align:justify-left;}







/*globitos*/
.contenedor-home-globitos{
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  padding: 40px 0;
  width: 100%;
 }

  .globito{
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    color:$color-white;
    background-color:$color-3;
    font-size:200%;
    margin:5px;
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(center);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    }

  .globito:hover{
    background-color:$color-3light;
    -webkit-transform: translate(0, -10%);
    -moz-transform: translate(0, -10%);
    transform: translate(0, -10%);
	 }

   @media (max-width: 767px){.globito{
    width:50px;
    height:50px;
    font-size:100%;
    }}

   @media (min-width: 768px) and (max-width: 991px){.globito{
    width:75px;
    height:75px;
    font-size:150%;
    }}

    









/*últimos proyectos y últimas noticias*/

/*título de cada sección interior del Home,
por ejemplo ULTIMOS PROYECTOS y ULTIMOS ARTICULOS*/
.home-section-title{
  color:$color-grey1;
  text-align:right;
  font-family:Pioret;
  border-bottom:1px solid $color-grey1;
}

/*el contenedor que contiene a todos los items*/
.home-section-display{
  padding:10px;
}

  /*el contenedor de cada item individual*/
  .home-section-display-item{
    border-radius:8px;
    padding:20px;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    transition: transform .3s ease;
  }

  /*línea divisora entre cada item individual*/
  .home-section-display-divider {
    margin:4px 20px;
    width:100%;
    color:$color-grey0;
  }

  /*efecto hover de cada item individual*/
  a>.home-section-display-item:hover{
    background-color:$color-grey0;
    -webkit-transform: translate(20px, 0);
    -moz-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }

  /*imagen de cada item individual*/
  img.media-object{
    width: 200px;
    height: 200px;
  }

  /*media-body es el texto de contenido de cada item individual*/
  .media-body{
    padding-left:20px;
  }
