.home-header{
}

.home-box{
text-align:justify-left;}

.globito{
border-radius: 50%;
width: 100px;
height: 100px; 
color:$color-white;
background-color:$color-3;
font-size:200%;
}

.carousel-caption>h3{
color:$color-white;
}
.carousel-caption>p{
color:$color-white;
text-align:center;
}