.home-header{
}

.home-box{
text-align:justify-left;}

 .contenedor-home-globitos{
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  padding: 6px;
  border:solid 3px $Color-Gris-Claro;
  border-radius:4px;
  width: 100%;
  margin: 5px 0;
 }

    .globito{
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    color:$color-white;
    background-color:$color-3;
    font-size:200%;
    margin:5px;
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(center);
    }

    .carousel-caption>h3{
    color:$color-white;
    }
    .carousel-caption>p{
    color:$color-white;
    text-align:center;
    }