
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 		E S T I L O   G E N E R A L 							   *
*			P A R A   A R M A R   L A   E S T R U C T U R A        *
*					D E L   S I T I O  W E B                       *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */




/* R E S E T  B R O W S E R  S T Y L E: resetear los inherit styles del browser (si es que los tiene) */
*{  margin:0;  padding:0;  border:0;}




/* A L T U R A  D E  L A  N A V B A R  (escribir aquí la altura que queremos que tenga) */
$navbar-altura:120px;
$navbar-altura-xs:68px;

/*---esto se cambia automáticamente acorde a la altura ingresada de la Navbar
para que el contenido comience luego de la Navbar y no se pierda nada detrás de ella---*/
  body{   	padding-top:$navbar-altura;  }
  @media (max-width:767px) {body{    padding-top:$navbar-altura-xs;  }}

/* escribir aquí la altura de las columnas del footer, a criterio según la cantidad de info que tengan */
$altura-footer-columns:200px;



/* B O D Y   W R A P P E R */

.global-wrapper {
  display:block;
  overflow-x:hidden;
  padding-top:$navbar-altura;
  margin-top:-$navbar-altura;
  background-color:$color-3superlight;
}
@media (max-width:767px){.global-wrapper{
  padding-top:$navbar-altura-xs;
  margin-top:-$navbar-altura-xs;}}






/* S E C C I O N E S  d e  C A D A  P Á G I N A */


/* SECTIONS #IDs */

/*---escribir aquí las #id de las secciones para que el desplazamiento de los links hacia las secciones sean precisas---*/
#section1,
#section2,
#section3,
#section4{
  overflow:hidden;
 /* padding-top:$navbar-altura;  margin-top:-$navbar-altura; */ /*---creo que no es necesario porque ya está indicado en el globa-wrapper---*/
}
@media (max-width:767px){
#section1,
#section2,
#section3,
#section4{
 /* padding-top:$navbar-altura-xs;  margin-top:-$navbar-altura-xs; */
}}


/*---WRAPPER para envolver cada sección dentro de cada página; esta clase se le adjudica
al container-fluid que adentro contiene los rows y las columns que agregan los márgenes laterales---*/
.section-wrapper{ /*envolvente de cada sección de cada página*/
  padding-top:40px;
  padding-bottom:40px;
}
.section-wrapper-footer{ /*envolvente sólo para el footer, con menor padding abajo*/
  padding-top:40px;
  padding-bottom:20px;
}



/*---para agregarle espaciado entre rows o items acorde a mi criterio (¡no aplicar a sections, porque ya tienen padding)---*/
.space-top{
  padding-top:40px;
}
.space-bottom{
  padding-bottom:40px;
}
#section2{
  min-height: 600px;
}
$section3-altura:800px;
#section3{
  min-height: $section3-altura;
}






/* P E R S O N I F I C A N D O   E L E M E N T O S */

 /*---CENTRAR UNA COLUMNA dentro de un row---*/
.col-hcenter{
    text-align:center;
    float: none;
    margin: 0 auto;
}
/*---CENTRAR UNA COLUMNA VERTICALMENTE dentro de un row---*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*--- DESTACADO --- | luego agregar diferentes clases de destacado, usando diferentes colores y diseños*/
.destacado{
  padding:5px 0 5px 30px;
  border-left:10px solid $color-3;
}

/*---CENTRAR VERTICAL (Y HORIZONTALMENTE) EL CONTENIDO DENTRO DE UN DIV---*/
.table-outer{ /* agregar esta class al contenedor, CREO que tiene que tener width y height específicos */
  display: table;
}
.table-inner{ /* agregar esta class al contenido que quiero que esté centrado */
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}



/*---para ocultar/mostrar algún elemento a partir de un width xs que no llega a ser sm
como por ejemplo un carousel de imágenes de header---*/
.super-xs-shown{
  display:block;
}
.super-xs-hidden{
  display:none;
}
@media (min-width:345px) {
  .super-xs-shown{
    display:none;
  }
  .super-xs-hidden{
    display:block;
  }
}