
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 		E S T I L O   G E N E R A L 							   *
*			P A R A   A R M A R   L A   E S T R U C T U R A        *
*					D E L   S I T I O  W E B                       *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */




/* R E S E T  B R O W S E R  S T Y L E: resetear los inherit styles del browser (si es que los tiene) */
*{  margin:0;  padding:0;  border:0;}




/* A L T U R A  D E  L A  N A V B A R  (escribir aquí la altura que queremos que tenga) */
$navbar-altura:120px;
$navbar-altura-xs:68px;

/*---esto se cambia automáticamente acorde a la altura ingresada de la Navbar
para que el contenido comience luego de la Navbar y no se pierda nada detrás de ella---*/
  body{   	padding-top:$navbar-altura; background-color:$color-2;}
  @media (max-width:767px) {body{    padding-top:$navbar-altura-xs; }}

/* escribir aquí la altura de las columnas del footer, a criterio según la cantidad de info que tengan */
$altura-footer-columns:200px;



/* B O D Y   W R A P P E R */

.global-wrapper {
  display:block;
  overflow-x:hidden;
  padding-top:$navbar-altura;
  margin-top:-$navbar-altura;
  background-color:$color-3light;
}
@media (max-width:767px){.global-wrapper{
  padding-top:$navbar-altura-xs;
  margin-top:-$navbar-altura-xs;}}






/* S E C C I O N E S  d e  C A D A  P Á G I N A */


/* S E C T I O N S   # I D s */

/*---escribir aquí las #id de las secciones para que el desplazamiento de los links hacia las secciones sean precisas---*/
#section1,
#section2,
#section3,
#section4{
 padding-top:$navbar-altura;  margin-top:-$navbar-altura;
 /*---creo que el padding no es necesario porque ya está indicado en el globa-wrapper---*/
}

@media (max-width:767px){
#section1,
#section2,
#section3,
#section4{
padding-top:$navbar-altura-xs;  margin-top:-$navbar-altura-xs;
}}

#section0,
#section1{
overflow:hidden;}

.bg-services {
  background-color: white;
  background-image: url("../../imagenes/Img/probando.jpg");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 800px;
}






 /* S E C T I O N   W R A P P E R S */
$padding-section-wrapper:40px; /*escribir aquí el padding (superior e inferior) de cada sección dentro de una pág*/

/*---WRAPPER para envolver cada sección dentro de cada página; esta clase se le adjudica
al container-fluid que adentro contiene los rows y las columns que agregan los márgenes laterales---*/
.section-wrapper{ /*envolvente de cada sección de cada página*/
  padding-top:$padding-section-wrapper;
  padding-bottom:$padding-section-wrapper;
}
.section-wrapper-footer{ /*envolvente sólo para el footer, con menor padding abajo*/
  padding-top:$padding-section-wrapper;
  padding-bottom:$padding-section-wrapper / 2;
}
/*---para agregarle espaciado entre rows o items acorde a mi criterio (¡no aplicar a sections, porque ya tienen padding)---*/
.space-top{
  padding-top:$padding-section-wrapper;
}
.space-bottom{
  padding-bottom:$padding-section-wrapper;
}
.super-space-top{
  padding-top:$padding-section-wrapper * 2;
}
.super-space-bottom{
  padding-bottom:$padding-section-wrapper * 2;
}

/*---particulares de estas secciones (porque el contenido tiene posición absoluta y es necesario esto)---*/
#section0 > div{
  border-bottom: 5px solid $color-3;
}

$section2-altura:300px;
#section2 > .container-fluid{
}

@media (min-width:992px){
  #section2 > .container-fluid{
    height: $section2-altura;
  }
}

$section3-altura:800px;
#section3 > .container-fluid{
  min-height: $section3-altura;
}

#section4 > .container-fluid{
  padding-top: 3px;
}

/* I M A G E N   D E   P O R T A D A  de altura acorde al viewport */
div.wrapper-portada{
  height: 70vh;
  width: 100%;
  text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.wrapper-portada>img.portada{
  max-height: 100%;
  width: auto;
  max-width: 200%;
  text-align:center;
  margin: 0 auto;
}


/* P E R S O N I F I C A N D O   E L E M E N T O S */

 /*---CENTRAR UNA COLUMNA dentro de un row---*/
.col-hcenter{
    text-align:center;
    float: none;
    margin: 0 auto;
}
/*---CENTRAR UNA COLUMNA VERTICALMENTE dentro de un row---*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*--- DESTACADO --- | luego agregar diferentes clases de destacado, usando diferentes colores y diseños*/
.destacado{
  padding:5px 0 5px 30px;
  border-left:4px solid $color-3;
}
#section1 .destacado{
  font-family: HelveticaNoue37Thin;
  letter-spacing: 2px;
}

/*---CENTRAR VERTICAL (Y HORIZONTALMENTE) EL CONTENIDO DENTRO DE UN DIV---*/
.table-outer{ /* agregar esta class al contenedor, CREO que tiene que tener width y height específicos */
  display: table;
  width: 100%;
  height: 100%;
}
.table-inner{ /* agregar esta class al contenido que quiero que esté centrado */
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}



/*---para ocultar/mostrar algún elemento a partir de un width xs que no llega a ser sm
como por ejemplo un carousel de imágenes de header---*/
.super-xs-shown{
  display:block;
}
.super-xs-hidden{
  display:none;
}
@media (min-width:345px) {
  .super-xs-shown{
    display:none;
  }
  .super-xs-hidden{
    display:block;
  }
}






/* para utilizar libremente al incluír cols dentro de un row que está dentro de otra col */
.no-padding{
  padding:0!important;
}
.no-margin{
  margin:0!important;
}








/* - - - - - - - - - - - - - - - - - - -*/
/* * *  S P E C I A L - C O L S  * * *  */
/* - - - - - - - - - - - - - - - - - - -*/

/* cols cuadradotas con fondo, minimal elegantes */

/* escribir valor del padding, se ajustará responsive solo */
$special-col-padding:20px 60px;
/*escribir el valor que quiero que tengan las special col de altura*/
$special-col-altura:400px;

.special-col{
  background-color: $color-3;
  padding: $special-col-padding;
  border: 1px solid $color-3superlight;
  overflow:hidden;
}
#servicios .col-xs-12.special-col.no-padding{
  overflow: visible; /*para que el decorative-divider no quede mitad oculto*/
}
.special-col:hover{
  background-color: $color-3light;
}
.special-col-fake{
  background-color: $color-3;
  padding: $special-col-padding;
  border: 1px solid $color-3superlight;
}
.special-col h2 {
  font-family: Champagne;
  letter-spacing: 3px;
  color: $color-3dark;
}
.p-container {
  max-height:120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.special-col p {
  font-family: HelveticaNoue;
  color: $color-2;
}
.special-col .ampliar {
  color: $color-3dark;
  font-family: HelveticaNoue37Thin;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform:uppercase;
}
.special-col .quote {
  color:$color-3dark;
}
.special-col .quote:before{
  color:$color-3superlight;
}
.special-col .quote:after{
  color:$color-3superlight;
}
.special-col .ampliar:hover {
  color: $color-3hyperlight;
}
.special-col .ampliar span.glyphicon{
  color: $color-3superlight;
}


/* special-cols de home */
#home #section4 .col-sm-6 .col-xs-12.special-col{
  height: $special-col-altura;
}
#home #section4 .col-sm-6.special-col{
  height: $special-col-altura * 2;
}

/* special-cols de eventos */
#eventos .special-col .col-sm-6{
  height: $special-col-altura;
  padding: $special-col-padding;
  overflow: hidden;
}
/* special-cols de servicios */
#servicios .special-col .col-sm-6{
  height: $special-col-altura * 1.33;
  padding: 20px 140px;
  overflow: hidden;
}
/* special-cols de eventos individuales */
#evento-individual .special-col .col-sm-6{
  height: $special-col-altura * 1.33;
  padding: 20px 140px;
  overflow: hidden;
}
/* special-cols de eventos individuales */
#marca-individual .special-col .col-sm-6{
  height: $special-col-altura * 1.33;
  padding: 20px 140px;
  overflow: hidden;
}
/* special-cols de eventos individuales */
#contacto .special-col .col-sm-6{
  height: $special-col-altura * 1.33;
  padding: 20px 140px;
  overflow: hidden;
}
#contacto .special-col .col-sm-12{
  padding: 20px 140px;
}
#contacto .special-col .col-sm-6 h1,
#contacto .special-col .col-sm-12 h1 {
  font-size: 30px;
}
#contacto .special-col .col-sm-6 p,
#contacto .special-col .col-sm-12 p{
  text-align: center;
}
#contacto .special-col #contacto-form .col-sm-12,
#contacto .special-col #contacto-form .col-sm-6{
  height: auto;
  padding: 20px;
}

/* img de todas las special-cols */
#evento-individual .special-col.special-col-img img.horizontal.img-main,
#marca-individual .special-col.special-col-img img.horizontal.img-main,
#eventos .special-col img.horizontal.img-main,
#servicios .special-col img.horizontal.img-main{
  min-height:100%;
  height:auto;
  width:60vw;
}
#evento-individual .special-col.special-col-img img:not(.horizontal).img-main,
#marca-individual .special-col.special-col-img img:not(.horizontal).img-main,
#eventos .special-col img:not(.horizontal).img-main,
#servicios .special-col img:not(.horizontal).img-main{
  height:auto;
  width:100%; /* testeando con 100%, antes era 60vw */
}
/* para que los greyscale-hover tomen color cuando se pasa por arriba de la special-col que es parent */
#eventos .special-col:hover .img-greyscale-hover,
#home .special-col:hover .img-greyscale-hover,
#marca-individual .special-col:hover .img-greyscale-hover,
#servicios .special-col:hover .img-greyscale-hover{
  filter: none;
  -webkit-filter: grayscale(0%);
}
/* img de las special-cols de #home */
#home #section4 .col-sm-6.special-col img.horizontal.img-main{
  height:inherit;
  width:auto;
}
#home #section4 .col-sm-6.special-col img:not(.horizontal).img-main{
  height:auto;
  width:60vw;
}
/* para que se agranden un poquito on-hover */
#eventos .special-col img.img-main,
#marcas .special-col img.img-main,
#marca-individual .special-col img.img-main,
#servicios .special-col img.img-main {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
#eventos .special-col:hover img.img-main,
#marcas .special-col:hover img.img-main,
#marca-individual .special-col:hover img.img-main,
#servicios .special-col:hover img.img-main {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* altura de las special-cols responsive */
@media (max-width:767px) {
  #eventos .special-col .col-sm-6,
  #servicios .special-col .col-sm-6,
  #contacto .special-col .col-sm-6,
  #evento-individual .special-col .col-sm-6,
  #marca-individual .special-col .col-sm-6{
    height: $special-col-altura / 2;}
  #home #section4 .special-col.col-sm-6{
    height: $special-col-altura / 4;}
  #home #section4 .col-sm-6 .special-col.col-xs-12{
    height: $special-col-altura / 4;}
  .special-col img{
    width:100% !important;
    height:auto !important;
    min-height:none !important;
  }
}
/* padding de las special-cols responsive */
@media (max-width:991px) {
  #eventos .special-col .col-sm-6,
  #servicios .special-col .col-sm-6,
  #evento-individual .special-col .col-sm-6,
  #marca-individual .special-col .col-sm-6,
  #contacto .special-col .col-sm-6,
  #contacto .special-col .col-sm-12,{
    padding: $special-col-padding;
  }}

.inline-logos{
  width: 100%;  
  @include flex;
  @include flex-direction(row);
  @include justify-content(space-around);
  @include align-items(center);
}
#marca-individual .inline-logos img{
  width: 200px;
  height: auto;
  margin-left:10px;
  margin-right:10px;
}
#evento-individual .inline-logos img{
  width: 160px;
  height: auto;
  margin-left:10px;
  margin-right:10px;
}







/* - - - - - - - - - - - - - - - - - - - - - - -*/
/* * * T H U M B N A I L   G A L L E R Y * * *  */
/* - - - - - - - - - - - - - - - - - - - - - - -*/
.thumbnail-gallery-parent{
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.thumbnail-gallery-child{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
.thumbnail-gallery-child img {
  width: 100%; 
  height: auto; 
}

@media screen and (max-width: 400px) {
  .thumbnail-gallery-parent { padding: 10; }
  .thumbnail-gallery-child { margin: 4; }
  
}







/* P R E L O A D I N G   O N - H O V E R   I M A G E S  to speed up the effect */
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1000;
    content:url('../../imagenes/Img/icon_service_models(light).png')
            url('../../imagenes/Img/icon_service_promotions(light).png')
            url('../../imagenes/Img/icon_service_events(light).png')
            url('../../imagenes/Empresa/isologo_dark.png');
}