/* * * * * * * * * * * * * * * * * * * * * * * * * *
 *		N A V I G A T I O N   B A R     (user)     *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

 #mynavbar{
}




/* dimensiones de la navbar y visibilidad */
.navbar {
  border-bottom: 5px solid $color-3;
  border-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
@media (max-width: 399px){.navbar{
  display:block;
  }}
@media (min-width: 768px){.navbar{
  height: $navbar-altura;
  }}






/*--- COLORES NAVBAR Y LINKS ---*/
.navbar-default {
  border-color: $color-3;
  /*background-image: url('../../imagenes/Img/navbar-rays-of-light.jpg');*/
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-2;
}

.navbar-default .navbar-text {
  color: $color-3;
}
.navbar-default .navbar-nav > li > a {
  display:inline-block;
  color: $color-3;
  letter-spacing: 1px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  transition: transform .3s ease;
}







/*--- LINKS DE LA NAVBAR (tamaños acorde al width) ---*/
@media (min-width: 768px) {.navbar-default .navbar-nav > li > a {
  margin-top:16px; /*--- separación del logo ---*/
  line-height: 40px;
  }}

@media (max-width: 991px) {.navbar-default .navbar-nav > li > a {
    font-size:80%;
    }}
@media (min-width: 992px) and (max-width: 1199px) {.navbar-default .navbar-nav > li > a {
    font-size:90%;
    padding-left:10px;
    padding-right:10px;
    }}
@media (min-width: 1200px) and (max-width: 1350px) {.navbar-default .navbar-nav > li > a {
    font-size:90%;
    padding-left:10px;
    padding-right:10px;
    }}
@media (min-width: 1351px) {.navbar-default .navbar-nav > li > a {
    font-size:100%;
    }}



/*--- LINKS DE LA NAVBAR (efectos hover) ---*/
.navbar-default .navbar-nav > li:not(.active) > a:hover,
.navbar-default .navbar-nav > li:not(.active) > a:focus {
  color: $color-3superlight;
  -webkit-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  transform: translate(0, -3px);
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
  color: $color-3light;
  background-color:transparent;
}

/*--- la flechita  de los links para cuando está colapsado para móbiles ---*/
@media (max-width: 767px) {.navbar-default .navbar-nav > .active > a:after{
  left: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: $color-3light;
  border-width: 5px;
  margin-top: -5px;
}}
/*--- la flechita de los links activos ---*/
@media (min-width: 768px) {.navbar-default .navbar-nav > .active > a:after{
  bottom: 18px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: $color-3;
  border-width: 5px;
  margin-left: -5px;
}}


.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: grey;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: $color-3;
}









/*--- botoncito de la Navbar (hamburguer menú) ---*/

@media (max-width: 767px){.navbar-default .navbar-toggle {
  margin-top:15px;
  margin-bottom:15px;
}}
@media (max-width: 767px){.navbar-default .navbar-toggle {
  margin-right:0px;
  }}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $color-3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $color-3;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: $color-3superlight;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: $color-3;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
 
  color: $color-3superlight;
  background-color: $color-3dark;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $color-3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $color-3superlight;
    background-color: $color-3dark;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $color-3light;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: grey;
    background-color: transparent;
  }
}








/*--- customización de extras de la Navbar, botones, dropdown menú, etc. ---*/
.navbar-default .navbar-link {
  color: $color-3;
}
.navbar-default .navbar-link:hover {
  color: $color-3superlight;
  background-color: $color-3dark;
}
.navbar-default .btn-link {
  color: $color-3;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: $color-3superlight;
}
.dropdown-menu {
background-color: $color-2;
margin: 0;
border: 0px solid $color-3;
  }
.dropdown-menu .divider {
  background-color: $color-3;
}
.dropdown-menu > li > a {
    color: $color-3;
  }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: $color-3superlight;
  background-color: $color-3dark;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: $color-3light;
  background-color: transparent;
}








/* NAVBAR BRAND - L O G O */
.navbar-header{
  padding: 0 0;
}
@media (max-width: 767px) {
  .navbar-header {
  padding: 0 10px;
}}
.navbar-brand {
  height: 50px;
  padding: 15px 10px 15px 0px;
  font-size: 18px;
  line-height: 20px;
  color: $color-3;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: $color-3superlight;
}

@media (min-width: 768px) {
  .navbar .container .navbar-brand,
  .navbar .container-fluid .navbar-brand {
    text-align:center;
    padding: 10px 14px 14px 14px;
    display: inline-block;
    float: none;
    vertical-align: top;
  }
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}}

.navbar-logo{
height: 44px;
}
@media (min-width: 768px) {.navbar-logo{
height: 54px;
}}




/*--- para CENTRAR el contenido de la NAVBAR ---*/
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }


    .navbar .navbar-collapse {
        text-align: center;
        margin-top:34px;
    }
    .navbar .navbar-header {
        text-align: center;
        margin-top:20px;
    }
}





/*--- contenido de INICIO DE SESIÓN ---*/

/*--- código doe mauri (creo que está fuera de uso) ---*/
.contenido-inicio-de-sesion-navbar{
  width: 230px;  
}

.contenido-auth-deplegado-navbar{
  width: 230px;
}

/*--- este es mí código ---*/
.user-menu{
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}
.user-menu h4 {
  font-family:Champagne;
  color: $color-3;
  letter-spacing: 3px;
  }
.user-menu h6 {
  font-family: HelveticaNoue, Helvetica, sans-serif;
  color: $color-3dark;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.user-menu h4 a {
  color: $color-3;
}
.user-menu h4 a:hover {
  color: $color-3light;
}
.user-menu h6 a {
  color: $color-2light;
}
.user-menu h6 a:hover {
  color: $color-3;
}
