
/* * * * * * * * * * * * * * * * * * * * * * * * * *
 *	C L A S E S   E S P E C Í F I C A S            *
 *	P A R A   D I F E R E N T E S   P Á G I N A S  *
 * * * * * * * * * * * * * * * * * * * * * * * * * */









/*--- * * * * H O M E * * * * * 

(tiene una banda de cosas la Home,
pero eso es porque no optimicé la
escritura de código)---*/






//* C A R O U S E L */

/* frase centrada encima del header, sobre las imágenes del carousel */
.header-frase-container{
  text-align: center;
  position:absolute;
  z-index:9;
  width:100%;
  bottom:20%;
}
.header-frase{
  background-image: url("../../imagenes/Img/header-frase.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width:602px;
  height:118px;
  left:50%;
  margin:0 auto;
  transition: 0.3s;
}
.carousel-y-header:hover .header-frase{
  opacity: 0.3;
}

@media (max-width:449px) { .header-frase {
  width:202px;
  height:42px;
}}
@media (min-width:450px) and (max-width:767px) { .header-frase {
  width:302px;
  height:59px;
}}
@media (min-width:768px) and (max-width:991px) { .header-frase {
  width:402px;
  height:80px;
}}

/*cortina de opacidad*/
.cortina-carousel{
  z-index:8;
  position:absolute;
  width:100%;
  height:100%;
  background-color: $color-3;
  opacity: 0.5;
  transition: 0.3s;
}
.carousel-y-header:hover .cortina-carousel{
  opacity: 0;
}

/*cambiando el z-index de los controladores*/
.carousel-control, .carousel-indicators{
  z-index:10;
}

/* propiedades de las imágenes del carousel */
.img-carousel{
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

/* para que las imágenes del carousel (portada) se muestren en grises y se coloreen al pasar el mouse por arriba */
/* ---------DESACTIVADO, DE MOMENTO PREFERIMOS A COLOR-----------

.carousel-y-header .carousel .carousel-inner .item .img-carousel{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.carousel-y-header:hover .carousel .carousel-inner .item .img-carousel{
  filter: none;
  -webkit-filter: grayscale(0%);
}

*/

.carousel-caption>h3{
    color:$color-white;
    }
.carousel-caption>p{
    color:$color-white;
    text-align:center;
    }
@media (max-width:767px){
  .img-carousel{
    min-width:200%;
    min-height:200%;
    width:auto;
    height:auto;
    margin-left:-50%;
  }
}


/* responsive header foto de portada */
.super-xs-header{
  width:100%;
  height:400px;
  background: $color-2 url("../../imagenes/Img/header_mobile_xs.jpg") center no-repeat;
  background-size: cover;
}




/*--- introducción y servicios icons (home)---*/
/* home service icons */

.home-service-col{
  height:480px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.home-service-icon{
  width:200px;
  height:auto;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.home-service-name{
  text-align:center;
  position:absolute;
  top:52%;
  left:0;
  width:100%;
  margin: auto 0;
  color: $color-3;
  letter-spacing:8px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

@media (min-width:992px){
  .col-sm-4:hover img.home-service-icon{
  width:240px;
  }
  .col-sm-4:hover .home-service-name{
  color: $color-3light;
  letter-spacing: 16px;
  font-size:150%;
}}

@media (max-width:991px){
  .home-service-col.col-sm-4:hover{
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
  .col-sm-4:hover .home-service-name{
  color: $color-3light;
  letter-spacing: 12px;
}}
@media (max-width:767px){
  .home-service-icon{
    width:100px;}
  .home-service-name{
    font-size:10px;}
  .home-service-col{
  height:auto;}
}

.col-sm-4:hover #icon-models{
  content: url('../../imagenes/Img/icon_service_models(light).png');
}
.col-sm-4:hover #icon-promotions{
  content: url('../../imagenes/Img/icon_service_promotions(light).png');
}
.col-sm-4:hover #icon-events{
  content: url('../../imagenes/Img/icon_service_events(light).png');
}




/*--- brands carousel (home)---*/
.logos-carousel-row{
  background-color: $color-3hyperlight;
  width:100%;
  height:300px;
  position:absolute;
}
.logos-carousel-col{
  background-color: $color-3hyperlight;
}
.logos-carousel-ribbon-left{
  left:0;
  margin-left:-5%;
}
.logos-carousel-ribbon-right{
  right:0;
  margin-right:-5%;
}
.logos-carousel-ribbon-left, .logos-carousel-ribbon-right{
  position:absolute;
  height:117%;
  width:auto;
  z-index: 10;
  margin-top:-3%;
}









/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */












/*--- A C E R C A   D E   V & V  ---*/

.empresa-individual{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.empresa-individual:hover{
    -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  transform: translate(0, -20px);
}
.empresa-individual:hover h3{
  color:$color-3;
}
/*---Acerda de V&V - sección de envío de currículum ---*/
.section-special-2{
  background: $color-white url("../../imagenes/Img/equipo.jpg") no-repeat left;
  background-size:cover;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */




/*--- S E R V I C I O S ---*/

.servicio-individual{
  border-bottom:1px solid $color-grey0;
  padding-bottom:10px;
  margin-bottom:20px;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.servicio-individual:hover{
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  transform: translate(0, -20px);
}
.section-special-1{
  color:$color-white;
  background: $color-3 url("../../imagenes/Img/presupuesto_background.jpg") no-repeat center;
  background-size:cover;
}
.boton-presupuesto{
  padding-bottom:20px;
}
.metodo-individual{
  border-bottom:1px solid $color-grey0;
  padding-bottom:10px;
  margin-bottom:20px;
}
div.metodo-individual>h3{
  margin-top:0px;
}
div.servicio-individual>h4>span.glyphicon{
  color:$color-3;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/*--- P U B L I C A C I O N E S (Noticias) ---*/

/*---para destacar una frase de una noticia, que luego se repetirá en el texto de la misma---*/
.noticia-encabezado{
  color:$color-grey2;
  text-align:right;
  vertical-align: middle;
}
.noticia-comillas{
  color:$color-grey1;
  font-family:Pioret;
}







/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */







/*--- F O O T E R ---*/
/*--- líneas divisorias del footer ---*/
.footer-line{
}
@media (max-width: 991px){
.footer-line{
    border-bottom: 1px solid $color-2light;
    margin: 15px;
}}
@media (min-width: 992px){
  .footer-line{
    border-right: 1px solid $color-2light;
}}

/*--- pequeña línea divisoria que divide el copyright del autor de la web ---*/
.footer-line2{
}
@media (min-width: 992px){
  .footer-line2{
  border-right: 1px solid $color-2light;
}}
#footer .col-md-4{
  height: $altura-footer-columns;
}
.isologo_container{
  padding: 0px;
}
.isologo{
  width: 100%;
  height: $altura-footer-columns;
}
#footer .col-md-4 .isologo{
  background-image: url("../../imagenes/Empresa/isologo_superdark.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
}
#footer .col-md-4:hover .isologo{
  background-image: url("../../imagenes/Empresa/isologo_dark.png");
}
#footer .column-container{
  padding: 0px 40px;
}
