
/* * * * * * * * * * * * * * * * * * * * * * * * * *
 *	C L A S E S   E S P E C Í F I C A S            *
 *	P A R A   D I F E R E N T E S   P Á G I N A S  *
 * * * * * * * * * * * * * * * * * * * * * * * * * */



/*  D E C O R A T I V E - D I V I D E R  */
/* rombito diamante decorativo */
.decorative-divider{
  z-index: 10;
}
#section0 .decorative-divider,
#section4 .decorative-divider,
#marcas .decorative-divider,
#eventos .decorative-divider,
#contacto .decorative-divider{
  margin-top: -15px;
  z-index: 10;
}
#section0 .decorative-divider{
  background-color: $color-3;
}

/* colocar dentro de la col que no es special col, la que seria el Header */
#marca-individual .decorative-divider{
  bottom: 0;
  margin-bottom: -18px;
}
#servicios .decorative-divider{
  top: 0;
  margin-top: -18px;
  z-index: 10;
}


/*--- * * * * H O M E * * * * * 

(tiene una banda de cosas la Home,
pero eso es porque no optimicé la
escritura de código)---*/

.navbar-logo {
  padding-bottom: 10px; 
}


//* C A R O U S E L */

/* frase centrada encima del header, sobre las imágenes del carousel */
.header-frase-container{
  text-align: center;
  position:absolute;
  z-index:9;
  width:100%;
  bottom:20%;
}
.header-frase{
  background-image: url("../../imagenes/Img/header-frase.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width:602px;
  height:118px;
  left:50%;
  margin:0 auto;
  transition: 0.3s;
}
.carousel-y-header:hover .header-frase{
  opacity: 0.3;
}

@media (max-width:449px) { .header-frase {
  width:202px;
  height:42px;
}}
@media (min-width:450px) and (max-width:767px) { .header-frase {
  width:302px;
  height:59px;
}}
@media (min-width:768px) and (max-width:991px) { .header-frase {
  width:402px;
  height:80px;
}}

/*cortina de opacidad*/
.cortina-carousel{
  z-index:8;
  position:absolute;
  width:100%;
  height:100%;
  background-color: $color-3;
  opacity: 0.5;
  transition: 0.3s;
}
.carousel-y-header:hover .cortina-carousel{
  opacity: 0;
}

/*cambiando el z-index de los controladores*/
.carousel-control, .carousel-indicators{
  z-index:10;
}

/* propiedades de las imágenes del carousel */
.img-carousel{
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

/* para que las imágenes del carousel (portada) se muestren en grises y se coloreen al pasar el mouse por arriba */
/* ---------DESACTIVADO, DE MOMENTO PREFERIMOS A COLOR-----------

.carousel-y-header .carousel .carousel-inner .item .img-carousel{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.carousel-y-header:hover .carousel .carousel-inner .item .img-carousel{
  filter: none;
  -webkit-filter: grayscale(0%);
}

*/

.carousel-caption>h3{
    color:$color-white;
    }
.carousel-caption>p{
    color:$color-white;
    text-align:center;
    }
@media (max-width:767px){
  .img-carousel{
    min-width:200%;
    min-height:200%;
    width:auto;
    height:auto;
    margin-left:-50%;
  }
}


/* responsive header foto de portada */
.super-xs-header{
  width:100%;
  height:400px;
  background: $color-2 url("../../imagenes/Img/header_mobile_xs.jpg") center no-repeat;
  background-size: cover;
}

/* Home Services */
.home-isologo-container{
  width: 100%;
  text-align: center;
}
.home-isologo {
  display: block;
  height: 120px;
  width: auto;
}
#section0 .bg-home-header .home-header-container{
  position: absolute;
  bottom: 0vh;
  width: 100%;
}
#section0 .bg-home-header .home-header-container .home-header-frase h1 {
  position: relative;
  font-family: Champagne;
  font-size: 50px;
  letter-spacing: 4px;
  color: $color-3;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
}
#section0 .bg-home-header .home-header-container:hover .home-header-frase h1 {
 color: $color-3superlight;
}
@media (max-width:992px) {#section0 .bg-home-header .home-header-container .home-header-frase h1 {
  font-size: 30px;
  }
  #section0 .bg-home-header .home-header-container{
    bottom: 10vh;}
}
#section1 .bg-home-service .home-header-frase h1{
  font-size: 30px;
  font-family: Champagne;
  text-align: center;
  color: $color-3;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#section0 .bg-home-header .home-header-container .arrow-container{
  width: 100%;
}
#section0 .bg-home-header .home-header-container .arrow-container .my-arrow-down{
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-color: $color-3 transparent transparent transparent;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: all .3s ease-in-out;
  }
#section0 .bg-home-header .home-header-container:hover .arrow-container .my-arrow-down{
  border-color: $color-3superlight transparent transparent transparent;
  }
@media (max-width:992px) {#section0 .bg-home-header .home-header-container .arrow-container .my-arrow-down {
  border-width: 15px 15px 0 15px;
}}


#section3 h1.section-subtitle {
  color: $color-2 !important;
}


$section2-altura:300px;
/*--- brands carousel (home)---*/
.logos-carousel-col{
  overflow:hidden;
  background-color: $color-white;
}
.logos-carousel-col:hover{
  background-color: $color-grey0;
}
/*asignar esta clase a un div insertado dentro de una columna*/
/*recomendado agregar la clase hidden-xs y hidden-sm a la columna parent*/
.destacado-pliegues{ /*luego pasar a mis_recursos*/
  position:absolute;
  top:0px;
  margin-top:-22px;
  height:$section2-altura + 40px;
  padding: 0px 14px;
  background:$color-bordeaux;
  z-index:1;
}
.destacado-pliegues:after {
  content: "";
  position: absolute;
  height: $section2-altura + 140px;
  width: 100%;
  border: 100px solid $color-bordeaux;
  z-index: -1;
  top: 0;
  border-top-width: 20px;
  border-bottom-color: transparent;
  right: 0;
}
.destacado-pliegues:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent $color-bordeauxdark transparent;
  top: 0;
  left: -20px;
  border-width: 0 0 20px 20px;
  z-index: -1;
}
@media (min-width:1600px){
  .destacado-pliegues{
  padding: 0px 30px;
  }
}













/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */















/*---   M A R C A S   //   C A R T E R A   D E   C L I E N T E S   ---*/

img.marca-col{
  width:300px;
  height:auto;
}
@media (max-width:559px) {
  #marcas #marcas-logos.row .col-xs-6.col-sm-6.special-col{
  padding: 0 !important;
}}

.marca-header{ /*---   aun sin usar, podria ser un header para la seccion marcas, con una foto de empresarios dandose las manos   ---*/
  background: $color-white url("../../imagenes/Img/equipo.jpg") no-repeat left;
  background-size:cover;
}















/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */











/*---   E V E N T O S    ---*/
.eventos-imagen{
  border-right:1px solid $color-3superlight;
}














/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */










/*---   S E R V I C I O S   ---*/

#servicios h4 a {
  color:$color-2superlight !important;
}
#servicios h4 a:hover {
  color:$color-3 !important;
}
.servicios-logo-ampro{
  text-align: center;
}
.servicios-logo-ampro img{
}
#servicios #servicios-intro .special-col{
  background-color: rgba(0,0,0, 0.3) !important;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#servicios #servicios-intro .special-col:hover{
  background-color: rgba(0,0,0, 0.5) !important;
}
#servicios #servicios-intro .special-col a h4{
  color: $color-3superlight !important;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#servicios #servicios-intro .special-col:hover a h4{
  color: $color-3superlight !important;
  letter-spacing: 6px !important;
}
#servicios #servicios-intro{
  padding-top: 300px;
  height: 70vh;
}
@media (max-width: 991px){
  #servicios #servicios-intro{
  padding-top: 100px;
  height: auto;
}}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/*--- N O S O T R O S  (la empresa) ---*/

/*---para destacar una frase de una noticia, que luego se repetirá en el texto de la misma---*/
.nosotros-logo{
  padding: 20px 40px;
}
@media (min-width:450px) and (max-width:767px){.nosotros-logo{
  padding: 20px 100px;
}}
.mision-vision h1{
  color: $color-3dark;
}
.mision-vision h4{
  color: $color-2light;
  text-align: justify;
}
.mision-vision h4 span.glyphicon{
  color: $color-3dark;
  padding-right: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/*  ---   C O N T A C T O    ---  */
#contacto .quote{
  color: $color-2light;
}

/*  contact form */
#contacto #contacto-form .form-control {
  background-color: $color-white;
  color: $color-2light;
  border: none;
  border-radius: 0;
}
#contacto #contacto-form .form-control:focus {
  border-color: $color-grey1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 241, 227, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 241, 227, .6);
}
#contacto #contacto-form .form-control::-moz-placeholder {
  color: $color-grey1;
  opacity: 1;
}
#contacto #contacto-form .form-control:-ms-input-placeholder {
  color: $color-grey1;
}
#contacto #contacto-form .form-control::-webkit-input-placeholder {
  color: $color-grey1;
}
#contacto #contacto-form .form-control::-ms-expand {
  background-color: transparent;
  border: 1px solid $color-3;
}
#contacto #contacto-form .has-error .help-block,
#contacto #contacto-form .has-error .control-label,
#contacto #contacto-form .has-error .radio,
#contacto #contacto-form .has-error .checkbox,
#contacto #contacto-form .has-error .radio-inline,
#contacto #contacto-form .has-error .checkbox-inline,
#contacto #contacto-form .has-error.radio label,
#contacto #contacto-form .has-error.checkbox label,
#contacto #contacto-form .has-error.radio-inline label,
#contacto #contacto-form .has-error.checkbox-inline label {
  color: $color-white;
}
#contacto #contacto-form .has-error .form-control {
  border-color: $color-3;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#contacto #contacto-form .has-error .form-control:focus {
  border-color: $color-3;
  -webkit-box-shadow: none, none;
          box-shadow: none, none;
}
#contacto #contacto-form .has-error .input-group-addon {
  color: $color-3;
  background-color: $color-2superlight;
  border-color: $color-2light;
}
#contacto #contacto-form .has-error .form-control-feedback {
  color: $color-3;
}

#contacto #contacto-form .has-success .help-block,
#contacto #contacto-form .has-success .control-label,
#contacto #contacto-form .has-success .radio,
#contacto #contacto-form .has-success .checkbox,
#contacto #contacto-form .has-success .radio-inline,
#contacto #contacto-form .has-success .checkbox-inline,
#contacto #contacto-form .has-success.radio label,
#contacto #contacto-form .has-success.checkbox label,
#contacto #contacto-form .has-success.radio-inline label,
#contacto #contacto-form .has-success.checkbox-inline label {
  color: $color-3superlight;
}
#contacto #contacto-form .has-success .form-control {
  border-color: $color-3light;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#contacto #contacto-form .has-success .form-control:focus {
  border-color: $color-3;
  -webkit-box-shadow: none, none;
          box-shadow: none, none;
}
#contacto #contacto-form .has-success .input-group-addon {
  color: $color-2superlight;
  background-color: $color-white;
  border-color: $color-3superlight;
}
#contacto #contacto-form .has-success .form-control-feedback {
  color: $color-3superlight;
}
#contacto #contacto-form label{
  color: $color-3dark;
  background-color: $color-3;
  letter-spacing: 2px;
  margin-bottom: 0;
  padding:6px;
  width:100%;
  font-weight: normal;
  opacity: 1;
}


#contacto #contacto-form .btn.btn-primary.btn-lg.btn-send,
#contacto #contacto-form .btn.btn-primary.btn-lg.btn-send.disabled {
  width:100%;
  padding: 40px;
  background-color: $color-3;
  color: $color-3superlight;
  font-family: HelveticaNoue37Thin;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform:uppercase;
  border-radius:0;
  border-color:$color-3hyperlight;
  font-weight: 600;
  opacity: 1;
}
#contacto #contacto-form .btn.btn-primary.btn-lg.btn-send:hover,
#contacto #contacto-form .btn.btn-primary.btn-lg.btn-send:hover.disabled {
  background-color: $color-3light;
  color: $color-3hyperlight;
}
#contacto #contacto-form .btn.btn-primary.btn-lg.btn-send.disabled {
  border-color:$color-3light;
}
#contacto #contacto-form .btn.btn-primary.btn-lg.btn-send:hover.disabled {
  border-color:$color-3superlight;
}


.contacto-header-comunicate-new,
.contacto-header-siguenos-new{
  padding: 20px;
  border: 2px solid $color-3;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.3);
  height: 320px;
  margin-top: 20px;
}
.contacto-header-comunicate-new h2,
.contacto-header-siguenos-new h2{
  color: $color-3superlight;
}
.contacto-header-comunicate-new h4,
.contacto-header-siguenos-new h4{
  color: $color-3light;
}

@media (max-width: 991px){
  .contacto-header-comunicate-new,
  .contacto-header-siguenos-new{
    height: auto;
    margin-top: 20px;}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/*--- F O O T E R ---*/
/*--- líneas divisorias del footer ---*/
.footer-line{
}
@media (max-width: 991px){
.footer-line{
    border-bottom: 1px solid $color-2light;
}}
@media (min-width: 992px){
  .footer-line{
    border-right: 1px solid $color-2light;
}}


/*--- última línea divisoria del footer (que sólo divide verticalmente) ---*/
.footer-line3{
}
@media (max-width: 991px){
.footer-line3{
    border-bottom: 1px solid $color-2light;
}}


/*--- pequeña línea divisoria que divide el copyright del autor de la web ---*/
.footer-line2{
}
@media (min-width: 992px){
  .footer-line2{
  border-right: 1px solid $color-2light;
}}

/*--- padding vertical del isologo para que coincida con la altura de los titles ---*/
.footer-isologo-container{
  padding: 10px 0;
  width: 100%;
  right: 0;
}
.footer-isologo-container .footer-isologo{
display: block;
float: right;
width: auto;
max-height: 100%;
right: 0;
}

.footer-col-height{
}
@media (min-width: 992px){
  .footer-col-height{
  height: 200px;
  }
 .footer-last-row{
  padding-top: 20px;
  }
}

@media (min-width: 1440px){
  .col-md-4{
  padding-left: 40px;
  padding-right: 40px;
  }
}






/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/*---  P A G I N A C I Ó N  ---*/
/*--- personalizando los botones de paginación ---*/
.pagination-block{
  @include flexbox;
  @include align-items(center);
  @include justify-content(center); 
}
.pagination-block ul.pagination{
  padding: 0;
}
/*--- span y a (características de todos los botones; links y no clickeables) ---*/
.pagination-block ul.pagination li span,
.pagination-block ul.pagination li a{
  border-radius: 0;
  background-color: transparent;
  font-size: 16pt;
  font-family: HelveticaNoue37Thin;
  color: $color-3;
  padding: 10px 20px;
}
/*--- span (los botones activos o deshabilitados) ---*/
.pagination-block ul.pagination li.disabled span{
  background-color: transparent;
  color: $color-3;
  }
.pagination-block ul.pagination li.disabled:hover span{
  background-color: transparent;
  color: $color-3;
  }
.pagination-block ul.pagination li.active span{
  background-color: $color-3;
  color: $color-3superlight;
  border-color: $color-3;
  }
.pagination-block ul.pagination li.active:hover span{
  background-color: $color-3;
  color: $color-3superlight;
  }

/*--- a (los botones clickeables que hacen algo on click) ---*/
.pagination-block ul.pagination li a{
  }
.pagination-block ul.pagination li:hover a{
  background-color: $color-3superlight;
  }















/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/*---         E R R O R  '   s   ---*/
/*--- personalizando las páginas de errores 404, 503, etc. ---*/

.bg-error {
  background: $color-2;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  margin-top: $navbar-altura * -1;
}
@media (max-width:767px) {.bg-error{    margin-top:$navbar-altura-xs * -1; }}
.bg-error h1{
  color: $color-3light !important;
  text-align: center;
}
.bg-error h2{
  color: $color-3 !important;
  text-align: center;
}
.bg-error h3{
  color: $color-2light !important;
  text-align: center;
}
.bg-error h4{
  color: $color-2light !important;
  text-align: center;
}

.bg-error .ampliar {
  color: $color-3dark;
  font-family: HelveticaNoue37Thin;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform:uppercase;
}
.bg-error .quote {
  color:$color-3dark;
}
.bg-error .quote:before{
  color:$color-3light;
}
.bg-error .quote:after{
  color:$color-3light;
}
.bg-error .ampliar:hover {
  color: $color-3;
}
.bg-error .ampliar span.glyphicon{
  color: $color-3light;
}
.double-size-font{
  font-size: 200%;
}